@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Oswald:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --montserrat: 'Montserrat', sans-serif;
  --bg-primary: rgb(230,230,230);
  --bg-secondary: rgb(180,180,180);
  --red: rgb(180,0,0);
  --gray: rgb(100,100,100);
}

body{
  background-color: var(--bg-primary); 
  font-family: var(--montserrat);
}

h1,
h2,
h3{
  --oswald: 'Oswald', sans-serif;
  font-family: var(--oswald);
  font-weight: 700;
  color: var(--gray);
  padding-inline: 1rem;
}

h2{
  font-size: 1.1rem;
}

.active{
  text-decoration: underline;
}

a{
  text-decoration: none;
  --webkit-tap-highlight-color: transparent;
  color: var(--red);
  
}
a:visited{
  color: rgb(100,0,0);
}
a:hover{
  color: var(--gray);
}
a:active{
  color: rgb(0,150,0);
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


body > header{
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  align-items: center;
  background-color: var(--bg-secondary);
}

header img{
  inline-size: 5rem;
}

header > a{
  position: relative;
}

header > a::before{
  content: 'Fitness';
  position: absolute;
  left: 17px;
  bottom: 25px;
  color: rgb(230,230,230);
  font-size: .8rem;
  z-index: 10;
}

article > header{
  margin: .5rem 0 .8rem;
}

article > section{
  margin-block-end: .7rem;
}

article h2{
  margin-block-end: .3rem;
}

article p{
  padding-inline: 1rem;
  font-size: .9rem;
  line-height: 1.3;
}

@media screen and (max-width: 767px){
  header > nav{
  position: fixed;
  top: 0;
  right: 0;
  inline-size: 200px;
  block-size: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: .8s linear; 
  transform: translateX(100%);
  z-index: 20;
}

.menu{
  transform: translateX(0);
}

nav a{
  line-height: 1.8;
}

header i{
  color: var(--red);
  font-size: 1.5rem;
}

header .fa-bars{
  margin-block-end: 1rem;
}
}

main{
  inline-size: 100%;
}

main header{
  background-color: inherit;
}

@media screen and (min-width: 768px){
  
body > header{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
  }

  header li{
    margin-inline: .5rem;
  }

  header a{
    font-size: 1.2rem;
  }

  header ul{
    display: flex;
  }

  header .fa-solid{
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  

}

