:root{
  --montserrat: 'Montserrat', sans-serif;
  --bg-primary: rgb(230,230,230);
  --bg-secondary: rgb(180,180,180);
  --red: rgb(180,0,0);
  --dark-red: rgb(100,0,0);
  --gray: rgb(100,100,100);
}

article > header{
  margin: .5rem 0 .8rem;
}

article > section{
  margin-block-end: .7rem;
}

article h2{
  margin-block-end: .3rem;
}

article p{
  padding-inline: 1rem;
  font-size: .9rem;
  line-height: 1.3;
}

section:first-of-type > div{
  padding-inline: 1rem;
  inline-size: 100%;
}

main,
section:first-of-type img,
section:first-of-type iframe,
section:first-of-type video{
 inline-size: 100%;
}

main header{
  background-color: inherit;
}

main > section > h2{
  margin-block: .3rem;
} 

main > section:last-of-type{
  padding-inline: 1rem;
}

section:last-of-type > figure{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-block-end: 1rem;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  padding: .5rem;
}

section:last-of-type > figure > img{
  margin-block-start: .3rem;
  inline-size: 90%;
  align-self: center;
}

section:last-of-type figcaption{
  padding-inline: 1rem;
}

section:last-of-type p{
  margin-block-start: .3rem;
  font-size: .8rem;
}

@media screen and (min-width: 1024px) {
  

}

