:root{
  --montserrat: 'Montserrat', sans-serif;
  --bg-primary: rgb(230,230,230);
  --bg-secondary: rgb(180,180,180);
  --red: rgb(180,0,0);
  --dark-red: rgb(100,0,0);
  --gray: rgb(100,100,100);
}

article > header{
  margin: .5rem 0 .8rem;
}

article > section{
  margin-block-end: .7rem;
}

article h2{
  margin-block-end: .3rem;
}

article p{
  padding-inline: 1rem;
  font-size: .9rem;
  line-height: 1.3;
}

main > section:first-of-type > div{
  padding-inline: 1rem;
  inline-size: 100%;
}

main > section:first-of-type img,
main > section:first-of-type iframe,
main > section:first-of-type video{
 inline-size: 100%;
}



main{
  inline-size: 100%;
}

main header{
  background-color: inherit;
}

main > section > h2{
  margin-block: .3rem;
} 

@media screen and (min-width: 768px){
  
body > header{
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
  }

  header li{
    margin-inline: .5rem;
  }

  header a{
    font-size: 1.2rem;
  }

  header ul{
    display: flex;
  }

  header .fa-solid{
    display: none;
  }

  nav .fa-angle-down{
    display: inline-block;
    margin-inline-start: .2rem;
  }

  nav li:nth-of-type(6) > div{
    position: absolute;
    left: -100px;
    inline-size: 100%;
  }

  nav li:nth-of-type(6) > div > a{
    line-height: 1.4;
    color: var(--dark-red);
    font-size: 1rem;
  }

  nav li:nth-of-type(6) > div > a:hover{
    color: var(--gray);
  }
}

@media screen and (min-width: 1024px) {
  

}

