:root{
  --montserrat: 'Montserrat', sans-serif;
  --white: rgb(255,255,255);
  --bg-primary: rgb(230,230,230);
  --bg-secondary: rgb(180,180,180);
  --red: rgb(180,0,0);
  --dark-red: rgb(100,0,0);
  --gray: rgb(100,100,100);
}

article{
  padding-inline: 1rem;
}

article > h2{
  padding-inline: 0;
  margin-block-end: .3rem;
}

article > p{
  margin-block-end: .4rem;
}

main > section{
  display: grid;
  grid-template: auto repeat(2, 1fr) / repeat(2, 1fr);
  gap: 1px;
}

main > section > h2{
  grid-area: 1 / 1 / 2 / span 2;
}

section > figure{
  background-color: var(--white);
  padding-block-end: .3rem;
}

figure > img{
  inline-size: 100%;
}

figcaption{
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption > span{
  background-color: rgb(247, 231, 0);
  padding: .2rem;
  font-weight: 700;
  font-size: .9rem;
}

figcaption > h3{
  font-size: .7rem;
  text-transform: uppercase;
  margin-block-start: .5rem;
}

figcaption > p{
  text-transform: uppercase;
  font-size: .6rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  block-size: 2rem;
  padding-inline: .2rem;
}

table{
  font-size: .8rem;
  inline-size: 90%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 0;
  margin-block-end: 1rem;
}

table > caption{
  text-align: left;
  padding-block: .3rem;
}

td,
th{
  line-height: 1.8;
}

thead > tr{
  background-color: var(--dark-red);
  color: var(--white);
}

tbody > tr:nth-child(even){
  background-color: var(--bg-secondary);
}

aside > div{
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

div > img{
  inline-size: 30%;
}

@media screen and (min-width: 768px){
  h1{
    text-align: center;
  }

  article{
    display: grid;
    grid-template: auto 1fr / repeat(3, 1fr);
    gap: 1rem;
  }

  article > h2{
    grid-column: 1 / span 3;
  }

  article > p{
    font-size: 1.1rem;;
  }

  figure{
    position: relative;
  }

  figcaption > span{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1.3rem;
  }

  figcaption > h3{
    font-size: .9rem;
  }

  figcaption > p{
    font-size: .7rem;
  }

  table{
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px){
  body{
    inline-size: 100%;
    display: grid;
    grid-template: repeat(5, auto) / repeat(4, 1fr);
    grid-template-areas: 
    'header header header header'
    'picture picture picture picture'
    'main main aside aside'
    'main main aside aside'
    'footer footer footer footer';
  }

  header{
    grid-area: header;
    grid-column: 1 / span 4;
  }

  picture{
    grid-area: picture;
    grid-column: 1 / span 4;
  }

  h1{
    text-align: left;
  }

  main{
    grid-area: main;
    grid-column: 1 / span 2;
  }

  main > article{
    display: flex;
    flex-direction: column;
  }


  main > section > figure:first-of-type{
    grid-column: 1 / 2;
  }

  aside{
    grid-area: aside;
    grid-column: 3 / span 2;
    margin-block-start: 4rem;
  }

  aside > table{
    margin-block-end: 3rem;
  }

  div > img{
    inline-size: 50%;
  }

  footer{
    grid-area: footer;
  }
}
